/*
selector
* : 전체
tag : 태그
.class : class
#id : id
p, .class, #id : 그룹
*/

* {
    margin: 0; /* 바깥 여백 */
    padding: 0; /* 안 여백 */

}


.logo{
    
    width:100px;
    height:110px;
    margin:0 auto; /* 수평 중앙 정렬 */
    padding: 50px 0; /* 상/하 50 좌/우 0 */
    
}

.menu{
    text-align: center;
    color:white;
    background-color: #005891;
    padding: 20px 0; /* 상/하 50 좌/우 0 */
}

a {
    color: white;
    text-decoration: none;
    margin: 10px; /* 요소와 요소  , padding : 요소와 내용 */
    
}

.hero{
    width:800px;
    margin: 0 auto; /* center  margin: 0  lrft |  float: right; */
    padding: 10px 0;
}

.hide{
    display: none; /* 표시 안함 */
}

.movie{
    width:600px;
    margin: 0 auto;
    font-size: 0; /* 글자  없어짐 */
}

 /* kebab-case(, camelCase, Pascal case, snake_case) */
.movie-title{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    /* margin: .3rem 0;/* 밖 여백 상하 0.3 좌우 0 */
    margin: 1.5rem 0 1rem 0;/* 밖 여백 상 우 하 우 (시계방향) */
}

.moive-desc{
    font-size: 16px;
    color: #555555;
    text-align: center;
}

.social{
    margin: 2rem 1rem;
    text-align: center;
}

.contact{
    text-align: center;
    margin: 2rem 1rem;
}

.contact>p{
    font-size:larger;
}
.location{
    text-align: center;
    margin: 2rem 1rem;
    font-size: small;
}
