/*
selector
* : 전체
tag : 태그
.class : class
#id : id
p, .class, #id : 그룹
*/

* {
  margin: 0; /* 바깥 여백 */
  padding: 0; /* 안 여백 */
}

.logo {
  width: 100px;
  height: 110px;
  margin: 0 auto; /* 수평 중앙 정렬 */
  padding: 50px 0; /* 상/하 50 좌/우 0 */
}

.opener {
  display: none;
  position: absolute;
  top: 100px;
  right: 7%;
}

/*
.menu {
  text-align: center;
  color: white;
  background-color: #005891;
  padding: 20px 0; //상/하 50 좌/우 0 
}
*/

.menu{
    display: block;
    width:76.77744%;
    right: 0;
    top:0;
    height:100vh;
    background-color: rgba(19,30,68,0.8);
    background-image: url(../images/mobile-bg.png);
    background-repeat: no-repeat;
    background-size: contain;

  }

a {
  color: white;
  text-decoration: none;
  margin: 10px; /* 요소와 요소  , padding : 요소와 내용 */
}

.hero {
  width: 800px;
  margin: 0 auto; /* center  margin: 0  lrft |  float: right; */
  padding: 10px 0;
}

.hide {
  display: none; /* 표시 안함 */
}

.movie {
  width: 600px;
  margin: 0 auto;
  font-size: 0; /* 글자  없어짐 */
}

/* kebab-case(, camelCase, Pascal case, snake_case) */
.movie-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  /* margin: .3rem 0;/* 밖 여백 상하 0.3 좌우 0 */
  margin: 1.5rem 0 1rem 0; /* 밖 여백 상 우 하 우 (시계방향) */
}

.moive-desc {
  font-size: 16px;
  color: #555555;
  text-align: center;
}

.social {
  margin: 2rem 1rem;
  text-align: center;
}

#line {
  margin: 3rem 0;
  color: #005891;
}

.contact,
.location {
  text-align: center;
  margin: 2rem 1rem;
}
.contact h2 {
  padding: auto;
}

.contact p {
  font-size: larger;
}

.location p:nth-child(1) {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.location p:nth-child(2) {
  margin-bottom: 3rem;
  font-size: 0.9rem;
}



#closer{
    font-size : 4rem; 
    display:block; 
    color:white; 
    border:0; margin: 0 0 10rem 0; 
    background-color: transparent;
    position: relative;
    top: 40px;
    left: 240px;
}

@media screen and (max-width: 430px) {
  body {
    background-color: gold;
  }

  .opener {
    display: block;
  }

  .opener-click {
    position:absolute;
    right:0;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,8);

  }


  .menu a{
    display: block;
    text-align: left;
  }

  /* Day7 reove 
  .menu {
    display: none;
  }
 */

  .hreo {
    width: 100%;
  }

  .hero img {
    width: 100%;
    object-fit: cover; /* 알맞게 */
  }

  .moive {
    width: 100%;
  }

  /*
    .movie img{
        width:50%;
        object-fit: cover;
    }
    */

  .movie img {
    width: 70%;
    margin: 10% 15%;
    object-fit: cover;
  }

  .movie img:nth-of-type(2) {
    display: none;
  }
}
